certifi==2020.12.5
click==7.1.2
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.0.0
MarkupSafe==1.1.1
-e https://github.com/numpy/numpy/releases/download/v1.20.0/numpy-1.20.0.tar.gz
scikit-learn==0.22.2.post1
-e https://github.com/scipy/scipy/releases/download/v1.6.0/scipy-1.6.0.tar.gz
threadpoolctl==2.1.0
Werkzeug==1.0.1
wincertstore==0.2