{% extends('base.html') %}

{% block navitem1 %}<a class="nav-link" href="{{url_for('home')}}">Salary Prediction</a>{% endblock %}

{% block navitem2 %}<a class="nav-link active" href="{{url_for('about')}}">About</a>{% endblock %}

{% block content %}
    <div class="row justify-content-center" style="margin-top: 30px;margin-bottom: 30px">
        <div class="col-5">               
            <div class="form-container" style="font-size: 18px;text-align: left;">
                <p>In the field of Big Data, Internet is full of job advertisements by companies looking for different profiles at each level (<b>Junior</b>, <b>Middle</b>, <b>Senior</b>, <b>Tech lead</b>...) and different skills to take up a new position (<b>Data Analyst</b>, <b>Data Engineer</b>, <b>Data Scientist</b>, etc).</p>
                <p>Based on <b>thousands</b> of job advertisements collected from employment websites, this Web App allow us to predict the <b>salary</b> of Data Science roles based on a few variables like <b>industry</b>, <b>location</b>, <b>company revenue</b>, <b>experience</b>, etc.</p>
		<p>Under the hood, the app has been optimized with a machine learning algorithm called <b>Gradient Boosted Tree (Regressor)</b>, which performed the best after comparison with other regression techniques from <b>Linear Models</b>, <b>Decision Trees</b> or <b>Ensemble methods</b> like <b>Random Forest</b>.</p>
            </div>
        </div>
    </div>

{% endblock %}